<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/javaSE2/src/集合_Collection/List元素的修改与查询.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="集合_Collection.List元素的修改与查询"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="javaSE2"/>
</launchConfiguration>
