<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java面向对象/src/封装_static_final关键字/代码块与静态代码块.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="封装_static_final关键字.代码块与静态代码块"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java面向对象"/>
</launchConfiguration>
