<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/json/src/品牌地图联动查询/品牌地图联动查询.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="C:\Users\Administrator\Desktop\地图编辑器\招商平台\品牌地图联动查询日志\接口检查数据.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="品牌地图联动查询.品牌地图联动查询"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="json"/>
</launchConfiguration>
