<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java基础/src/方法/实现方法_根据直角3三角形直角边计算斜边长度.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="方法.实现方法_根据直角3三角形直角边计算斜边长度"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java基础"/>
</launchConfiguration>
