<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java面向对象/src/构造器_重载_方法_空指针/重载和重写的区别.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="构造器_重载_方法_空指针.重载和重写的区别"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java面向对象"/>
</launchConfiguration>
